*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "NeueMontreal-Light" ; src: url(fonts/NeueMontreal/NeueMontreal-Light.otf);
}
@font-face {
    font-family: "NeueMontreal-Bold" ; src: url(fonts/NeueMontreal/NeueMontreal-Regular.otf);
}

@font-face{
    font-family: "NeueMontreal-Italic"; src: url(fonts/NeueMontreal/NeueMontreal-Bold.otf);
}

@font-face {
    font-family: "GoshaSans-Bold" ; src: url(fonts/GoshaSans/GoshaSans-Bold.otf);
}
@font-face {
    font-family: "GoshaSans-Regular" ; src: url(fonts/GoshaSans/GoshaSans-Regular.otf);
}

/* VARIABLE COLORS */
:root {
    --primary-color: #c7c7c7;
    --second-color: #cedddd;
    --primary-highlighted-color: #a31f0e;
    --second-highlighted-color: rgb(151, 23, 12);
    --backgroud-color : rgb(13,13,13);    
}


/* SCROLL BAR */
::-webkit-scrollbar
{
	width: 2px;
	background: none;
}
::-webkit-scrollbar-thumb
{
	background-color: var(--primary-color);
	height:1px;	
}

/* GLOBALS VARIABLES */
span.highlight{
    color: var(--second-highlighted-color) !important;
    
}

h1,h2,h3,h4,h5,h6,p{
    font-family: "NeueMontreal-Light";
}


body{
    background: var(--backgroud-color);
}

.__wrapper{
    display: none;   
}


/* SECTION PRELOADED */
.__preloaded{
    background: whitesmoke;
    width: 100%;
    position: relative;    
}
.__preloaded .page__{
    width: 80%;
    margin: auto;
    height: 100vh;
    display: table;
}
.__preloaded .info__{
    height: 100%;
    display: table-cell;
    vertical-align: middle;    
}
.__preloaded p{
    font-size: x-large;
    letter-spacing: 1px;    
    text-align: center;
    color: #22222b;     
    transition: all 1s;  
    line-height: 1.1;
}
.__preloaded span.highlight{
    color: #a31f0e;    
    text-decoration: none;
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
}
.overlay .bar{
    height: 100%;
    background: var(--backgroud-color);
    width: 0%;
    position: absolute;
    z-index: 10;
}

@media(max-width:1000px){
    .__preloaded p {
        font-size: large;
    }
}
@media(max-width:600px){
    .__preloaded .page__ {
        width: 85%;
    }
    .__preloaded p {
        /* font-size: medium; */
        text-align: justify;
    }
}


/* HEADER */

header {
    /* padding: 2vw 4vw; */
    position: fixed;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: end;    
    top: 0;
    z-index: 3;
    padding: 2.3rem 0;
    transition: all 2s;
}

header .bar-menu{    
    cursor: pointer;
    z-index: 9999;
}
header .icon-menu{
    display: flex;
    width: 25px;
    height: 10px;
    margin-left: 12.5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    transition: all .2s;
}

.icon-menu .first-line {
    width: 25px;
    height: 2.22px;
    background-color: #c7c7c7;
    transition-duration:  .5s;  
}

.icon-menu .second-line {
    width: 15px;
    height: 2.22px;
    background-color: #c7c7c7;
    transition-duration:  .5s;     
}
.bar-menu:hover .second-line{
    width: 25px;
    transition-duration:  .5s; 
} 

.icon-menu.cancel .first-line{
    transform: rotate(-45deg);
    transition-duration:  .5s;  
}
.icon-menu.cancel .second-line {
    width: 25px;   
    transition-duration:  .5s; 
    transform: rotate(45deg) translate3d(-5px, -6px, 10px);
}


/* NAV */

nav{
    height: 100vh;
    position: fixed;
    width: 100%;
    background: var(--backgroud-color);
    z-index: 2;
    top: 0;
    visibility: hidden;
    display: none;
    transition: all .5s;
}

nav.showed{
    visibility: visible;
    display: block;
    transition: all .5s;
}

/* MAIN */

.__main  .page__{
    width: 95%;
    margin: 5rem auto 0;
}

.__main  .titles__{
    position: relative;
    overflow: hidden;
}

.__main  .titles__  h1{
    color: var(--primary-color);    
    letter-spacing: 1px;
    line-height: 1.2;   
    transform: translateY(100%); 
    transition: all 1.5s  ease-out;
    text-align: justify;
}

.__main  .titles__.first h1{   
    font-size: 4rem;    
}

.__main  .titles__.middle{
    display: flex;  
    align-items: center;  
    transform: translateY(-20%);  
} 

.__main  .titles__ span.line{
    width: 0%;   
    height: 3vh;
    transition: all 1.2s ease-out;
    background: var(--primary-color);
    background: #a31f0e;
}
.__main  .titles__.middle .broken__{
    position: relative;
}
.__main  .broken__ h1:nth-of-type(1){    
    clip-path: polygon(0 0, 0 100%, 100% 0); 
    font-size: 15rem; 
}
.__main  .broken__ h1:nth-of-type(2){ 
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    font-size: 15rem;  
    position: absolute;
    top: 0;    
}

.__main .titles__.last{
    transform: translateY(-40%);
}

.__main  .titles__.last h1{    
    font-size: 12rem;
}


@media(max-width:1200px){
    .__main .page__ {        
        margin: auto;
        height: 100vh;
        display: table;
    }
    .info__ {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
    }
    .__main .broken__ h1{
        font-size: 14rem !important;
    }
    .__main .titles__.last h1 {
        font-size: 10rem !important;
    }
}

@media(max-width:1000px){
    .__main .titles__.first h1 {
        font-size: 3rem !important;
    }    
    .__main .broken__ h1{
        font-size: 14rem !important;
    }
    .__main .titles__.last h1 {
        font-size: 8rem !important;
    }
}

@media(max-width:800px){
    .__main .titles__.first h1 {
        font-size: 2.5rem !important;
    }    
    .__main .broken__ h1{
        font-size: 10rem !important;
    }
    .__main .titles__.last h1 {
        font-size: 5rem !important;
    }
}

@media(max-width:600px){
    .__main .titles__.first h1 {
        font-size: 2rem !important;
    } 
    .__main .titles__ span.line {        
        height: 1vh;
    }   
    .__main .broken__ h1{
        font-size: 7rem !important;
    }
    .__main .titles__.last h1 {
        font-size: 4rem !important;
    }
}

@media(max-width:400px){
    .__main .titles__.first h1 {
        font-size: 1.5rem !important;
    }    
    .__main .broken__ h1{
        font-size: 6rem !important;
    }
    .__main .titles__.last h1 {
        font-size: 3rem !important;
    }
}


/* WALL */

.wall__{
    margin: 100vh 0 0;
}
.wall__{
    width: 100%;
    overflow: hidden;
}

.wall__ p{
    font-size: 6vw;
    margin: 0;
    text-transform: uppercase;
    font-family: "GoshaSans-Regular";     
    white-space: nowrap;  
    color: var(--primary-color);
    line-height:.8;
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);  
    will-change: clip-path; 
    transition-duration: 2s; 
}

.wall__ .divider{
    display: flex;
    justify-content: center;
    margin: 5rem 0 0;    
} 

.wall__ .divider span{
    height: 1px;
    width: 0%;
    background: var(--primary-color);
    transition: all 3s ease-out;
}

@media(max-width:1000px){
    .wall__ p {
        font-size: 4rem;
    }
    .wall__ .divider span{        
        transition: all 2s ease-out;
    }
}
@media(max-width:600px){    
    .wall__ .divider span{        
        transition: all 1s ease-out;
    }
}
@media(max-width:400px){
    .wall__ p {
        font-size: 3rem;
    }
}

/* INTRO */

.__intro .page__{
    width: 95%;
    margin: auto;
}

.__intro .title__ h1{
    color: var(--primary-color);
    font-size: 3rem;  
    letter-spacing: 1px;
    line-height: 1.2;
    margin: 10rem 0;
    transform: translateY(100%);
    transition: all 1.5s ease-out;
    text-align: center;
    font-family: "NeueMontreal-Bold";
    text-transform: uppercase;
    color: #aaa;
}

.__intro span{
    overflow: hidden;
    position: relative; 
    display: flex; 
    text-align: justify;
    justify-content: end;
}
.__intro span:nth-of-type(2){   
    text-align: end !important;
}

.__intro p{
    font-size: x-large;
    color: var(--primary-color);
    letter-spacing: 1px;
    line-height: 1;    
    width: 85%;   
    margin: 3rem 0 0; 
    transform: translateY(100%); 
    transition: all 1.5s ease-out;
}

@media(max-width:1000px){
    .__intro .title__ h1{
        font-size: 2.5rem;
        margin: 8rem 0;
    }
    .__intro p{
        font-size: x-large;        
        width: 100%;           
    }
}
@media(max-width:800px){
    .__intro .title__ h1{
        font-size: 2rem;
    }    
}

@media(max-width:600px){
    .__intro .title__ h1{
        font-size: 1.5rem;
        margin: 6rem 0;
    }
    .__intro p{
        font-size: large; 
    }
}
@media(max-width:400px){
    .__intro .title__ h1{      
        margin: 4rem 0;
    }   
}





.headling__ {
    position: sticky;
    top: 0;
    padding: 1rem 0 0; 
    z-index: 1;
    background: var(--backgroud-color);     
}
.headling__ p{
    font-size: smaller !important;
    letter-spacing: 1px !important;
    color: var(--primary-color);
    padding: 1rem 0;
    text-transform: uppercase;
    margin: 0 auto 1rem !important;    
    display: flex;
    align-items: center;    
    transition: all 1s;  
    width: 100% !important; 
}

.headling__  span{
    height: 1px;
    display: block;
    width: 0%;
    margin: 0 1rem;
    background: #BA3737;
    transition: all 1s; 
}


@media(max-width:600px){
    .headling__ p{
        font-size: small !important;
    }    
}

/* CHAPTER 1 */

.__chapter__1{
    width: 95%;
    margin: 100vh auto 0;
}

.__chapter__1 .title__ span{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
}
.__chapter__1 .title__ h1{
    color: var(--primary-color);
    font-size: 5rem;
    letter-spacing: 1px;
    line-height: 1.2;
    font-family: "NeueMontreal-Bold";
    text-transform: uppercase;
    transform: translateY(100%);   
    transition: all 1s ease-out;
    text-align: end;
}

.__chapter__1 .page__{
    margin: 10rem 0;
}

.__chapter__1 span{
    position: relative;
    overflow: hidden;    
    display: block;
}

.__chapter__1 p{
    font-size: x-large;
    color: var(--primary-color);
    letter-spacing: 1px;  
    width: 80%;       
    transform: translateY(100%); 
    transition: all 1.2s ease-out;
    margin: 2rem 0;
}
.__chapter__1 .chart__{
    width: 80%;
    height: 80vh;
    margin: 0 0 2rem;  
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: all 1s;  
}
.__chapter__1 .chart__ p{
    text-align: end !important;
    font-size: smaller !important;
    margin: 1rem 0 !important;
    width: 100%;
    opacity: 1 !important;
}

.__chapter__1 .graph__  p{
    margin: 3rem 0 0 !important;
    text-align: justify;    
}

@media(max-width:1000px){
    .__chapter__1 .title__{
        margin: 5rem 0;
    }
    .__chapter__1 .title__ h1{
        font-size: 3rem;       
    }
    .__chapter__1 .chart__ {
        width: 100%;
    }
    .__chapter__1 p {        
        width: 100%;
    }
} 

@media(max-width:800px){
    .__chapter__1 .title__ h1{
        font-size: 2.5rem;       
    }
}

@media(max-width:600px){ 
    .__chapter__1 .title__ h1{
        font-size: 2rem;       
    }
    .__chapter__1 .page__{
        margin: 5rem 0;
    }   
    .__chapter__1 .chart__ {
        height: 60vh;
    }
    .__chapter__1 p {        
        font-size: larger;
        text-align: justify;
        transform: none !important;
    }
    .__chapter__1 .chart__ p{
        margin: 1rem 0 2rem !important;
    }
} 


/* CHAPTER 2 */

.__chapter__2{
    width: 95%;
    margin: 50vh auto 0;
}

.__chapter__2 .title__ h1{
    color: var(--primary-color);
    font-size: 3.5rem;
    letter-spacing: 1px;
    line-height: 1.2;
    font-family: "NeueMontreal-Bold";
    text-transform: uppercase;
    transform: translateY(100%); 
    transition: all 1s ease-out;
}

.__chapter__2 .text_scramble__ {
    margin: 30vh 0;
    display: flex;
    justify-content: end;
}

.__chapter__2 .text_scramble__ span{
    display: contents !important;
}

.__chapter__2 .text_scramble__ .dud{
    color: #757575;
}

.__chapter__2 .text_scramble__ h2{
    font-size: x-large;
    color: var(--primary-color);
    letter-spacing: 1px;
    width: 60%;   
    transition: all 1.2s ease-out;
    margin: 2rem 0;
    font-weight: 100;
    
}

.__chapter__2 .page__{
    margin: 5rem 0;
}

.__chapter__2 span{
    position: relative;
    overflow: hidden;    
    display: block;
}


.__chapter__2  p{
    font-size: x-large;
    color: var(--primary-color);
    letter-spacing: 1px;  
    width: 80%;       
    transform: translateY(100%); 
    transition: all 1.2s ease-out;
    margin: 2rem 0;
}

.__chapter__2 .chart__{
    width: 80%;    
    height: 80vh;
    margin: 0 0 5rem;  
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: all 1s;     
}

.__chapter__2 .chart__ p{
    text-align: end !important;
    font-size: smaller !important;
    margin: 1rem 0 !important;
    width: 100%;
    opacity: 1 !important;   
}

.__chapter__2 .graph__  p{
    margin: 3rem 0 0 !important;
    text-align: justify;    
}


.__chapter__2 .img_transition__{
    position: relative;    
}
.__chapter__2 .img_transition__ .img__{
    display: flex;
    justify-content: end;
    height: 70vh;
}

.__chapter__2 img{
    max-width: 100%;
    height: auto;
}

.__chapter__2 .img_transition__ h5{
    font-size: smaller;    
    padding: 1rem 0 0;     
    letter-spacing: 1px;
    text-align: end;
    color: var(--primary-color);
    font-weight: 100;
} 


@media(max-width:1000px){
    .__chapter__2 .title__{
        margin: 5rem 0;
    }
    .__chapter__2 .title__ h1{
        font-size: 2.5rem;       
    }
    .__chapter__2 .text_scramble__ h2 {
        font-size: 1.5rem;
    }
    .__chapter__2 .chart__ {
        width: 100%;
    }
    .__chapter__2 p {        
        width: 100% !important;
    }
} 

@media(max-width:800px){
    .__chapter__2 .title__ h1{
        font-size: 2rem;       
    }
    .__chapter__2 .text_scramble__ h2{
        text-align: end;
        width: 80%;
    }
    .__chapter__2 .img_transition__ .img__{
        height: auto;
    }
}

@media(max-width:600px){ 
    .__chapter__2 .title__ h1{
        font-size: 1.5rem;       
    }
    .__chapter__2 .text_scramble__ {
        margin: 25vh 0;
    }
    .__chapter__2 .text_scramble__ h2{       
        width: 100%;
        font-size: larger;
    }
    
    .__chapter__2 .page__{
        margin: 5rem 0;
    }   

    .__chapter__2 .chart__ {
        height: 60vh;
    }
    .__chapter__2 p {        
        font-size: larger;
        text-align: justify;
        transform: none !important;
    }
    .__chapter__2 .chart__ p{
        margin: 1rem 0 2rem !important;
    }
} 


/* CHAPTER 4 */

.__chapter__4{
    width: 95%;
    margin: 50vh auto 0;
}

.__chapter__4 .title__ h1{
    color: var(--primary-color);
    font-size: 3.5rem;
    letter-spacing: 1px;
    line-height: 1.2;
    font-family: "NeueMontreal-Bold";
    text-transform: uppercase;
    transform: translateY(100%); 
    transition: all 1s ease-out;
}

.__chapter__4 .page__{
    margin: 10rem 0 0;
}
.__chapter__4 .page__:nth-last-of-type(1){
    margin: 5rem 0;
}

.__chapter__4 .__grain{
    overflow: hidden !important;
}

.__chapter__4 .transition__{
    display: flex;
    justify-content: end;
    margin: 5rem 0 0;
    width: 100%;
}
.__chapter__4 .transition__ span{
    width: 60%;
}

.__chapter__4 .transition__ .img__{    
    width: 100%;     
    overflow: hidden;
    position: relative;    
    transition: all 1.5s ease-out; 
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.__chapter__4 img{
    max-width: 100%;
    height: auto;
}

.__chapter__4 .transition__ p{
    font-size: larger;
    margin: 1rem 0;
    transform: none;
    width: 100%;    
    text-align: justify;
}

.__chapter__4 span{
    position: relative;
    overflow: hidden;    
    display: block;
}

.__chapter__4  p{
    font-size: x-large;
    color: var(--primary-color);
    letter-spacing: 1px;  
    width: 80%;       
    transform: translateY(100%); 
    transition: all 1.2s ease-out;
    margin: 2rem 0;
}

@media(max-width:1000px){
    .__chapter__4 .title__{
        margin: 5rem 0;
    }
    .__chapter__4 .title__ h1{
        font-size: 2.5rem;       
    }
    .__chapter__4 .transition__ span{
        width: 100%;
    }
     
    .__chapter__4 p {        
        width: 100% !important;
    }
} 

@media(max-width:800px){
    .__chapter__4 .title__ h1{
        font-size: 2rem;       
    }   
}

@media(max-width:600px){ 
    .__chapter__4 .page__{
        margin: 2rem 0 !important;    
    }
    .__chapter__4 .transition__ {
        margin: 2rem 0 0;
    }     
    .__chapter__4 p {        
        font-size: larger;
        text-align: justify;
        transform: none !important;
    }
    
} 